<h1>{{title}}</h1>

<form>
    <div class="row">
        <!--Name-->
        <div class="form-group" class="col-12 col-md-6">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="nameFilter" name="name">
        </div>
        <!--Precio-->
        <div class="form-group" class="col-12 col-md-3">
            <label for="name">Price</label>
            <input type="number" [(ngModel)]="priceFilter" name="price">
        </div>
    </div>
    <div class="col-12 col-md-3">
        <button id="btnSearch" class="btn btn-secondary" (click)="searchByFilters()">Buscar</button>
    </div>
</form>

<table *ngIf="items.length > 0">
    <thead>
        <th>Id</th>
        <th>Imagen</th>
        <th>Articulo</th>
        <th>Precio</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.id}}</td>
            <td>
                <img class="imgItem" [src]="'data:image/webp;base64,' + item.image">
            </td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>
                <button id="btnEditCategory">Editar</button>
                <button id="btnDeleteCategory">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="botoneraPaginacion">
    <button [disabled]="first" class="btn btn-secondary btnAtras" (click)="previousPage()">Anterior</button>
    <span>Pagina {{page+1}} de {{totalPages}} - Elementos totales: {{totalElements}}</span>
    <button [disabled]="last" class="btn btn-secondary btnSiguiente" (click)="nextPage()">Siguiente</button>
</div>